p{
    background-color: aquamarine;
}
a{
    background-color: rgb(165, 42, 56);
}
/* class-> ".",id->"#" */
.red{
    color:bisquel;
}
.bg-yellow{
    background-color: darkolivegreen;
}
/*inline CSS,Internal CSS ,External CSS  */
*{
    color: black;
}
/* Pseudo Selector */
a:visited{
    color: yellow;
}
a:link{
    color: darkgreen;
}
a:active{
    background-color: antiquewhite;
}
*{
    color:blue;
}
h1{
    color:aquamarine;
}
.yellow{
    color:yellow;
}
h1 yellow{
    color:cyan;
}
.cred{
    color:maroon;
}
.cpurple{
    color:purple;
}
/* attribute selector*/
[data-x=a]{
    background-color:bisque;
}
*{
    color:blue;
    font-size: 15px;
}
h1{
    color:aquamarine;
}
.yellow{
    color:yellow;
}
h1 yellow{
    color:cyan;
}
.cred{
    color:maroon;
}
.cpurple{
    color:purple;
}
/* attribute selector*/
[data-x=a]{
    background-color:bisque;
}
*{
    margin: o;
    padding: 0;
}
.parent{
    padding: 3px;
    margin:34px;
    border:2px solid purple;
    position: relative;
}
.box{
    height: 130px;
    width:80vw;
    padding: 3px;
    margin: 3px;
    border:2px solid black;
}
.box1{
    position:sticky;
    background-color: bisque;
    top:0px; /*nearest positioned ancestor*/ 
}
.box2{
    background-color: aquamarine;
    /* position:relative;
    top:90px;
    left:40px; */
}
.box3{
    height:300px;
    position: relative;
    background-color: rgb(29, 166, 166);
    z-index:1; 
}
.box4{
    /* position:fixed; */
    background-color: brown;
}
/* tranform , filter or perspective properties can also make element to appears as positioned */

*{
    margin: o;
    padding: 0;
}
/* declaring css variables */
:root{
    --color:blue;
    --seccolor:cornflowerblue;
    --defop:0.2;
    --defpad:23px;
}
.navbar{
    background-color:var(--seccolor);
}
.container{
    /* local variable */
    --color:cornflowerblue;
    background-color: var(--color);
}
ul{
    display: flex;
}


