p{
    background-color: aquamarine;
}
a{
    background-color: rgb(165, 42, 56);
}
/* class-> ".",id->"#" */
.red{
    color:bisquel;
}
.bg-yellow{
    background-color: darkolivegreen;
}
/*inline CSS,Internal CSS ,External CSS  */
*{
    color: black;
}
/* Pseudo Selector */
a:visited{
    color: yellow;
}
a:link{
    color: darkgreen;
}
a:active{
    background-color: antiquewhite;
}
*{
    color:blue;
}
h1{
    color:aquamarine;
}
.yellow{
    color:yellow;
}
h1 yellow{
    color:cyan;
}
.cred{
    color:maroon;
}
.cpurple{
    color:purple;
}
/* attribute selector*/
[data-x=a]{
    background-color:bisque;
}
*{
    color:blue;
    font-size: 15px;
}
h1{
    color:aquamarine;
}
.yellow{
    color:yellow;
}
h1 yellow{
    color:cyan;
}
.cred{
    color:maroon;
}
.cpurple{
    color:purple;
}
/* attribute selector*/
[data-x=a]{
    background-color:bisque;
}
*{
    margin: o;
    padding: 0;
}
.parent{
    padding: 3px;
    margin:34px;
    border:2px solid purple;
    position: relative;
}
.box{
    height: 130px;
    width:80vw;
    padding: 3px;
    margin: 3px;
    border:2px solid black;
}
.box1{
    position:sticky;
    background-color: bisque;
    top:0px; /*nearest positioned ancestor*/ 
}
.box2{
    background-color: aquamarine;
    /* position:relative;
    top:90px;
    left:40px; */
}
.box3{
    height:300px;
    position: relative;
    background-color: rgb(29, 166, 166);
    z-index:1; 
}
.box4{
    /* position:fixed; */
    background-color: brown;
}
/* tranform , filter or perspective properties can also make element to appears as positioned */

*{
    margin: o;
    padding: 0;
}
/* declaring css variables */
:root{
    --color:blue;
    --seccolor:cornflowerblue;
    --defop:0.2;
    --defpad:23px;
}
.navbar{
    background-color:var(--seccolor);
}
.container{
    /* local variable */
    --color:cornflowerblue;
    background-color: var(--color);
}
ul{
    display: flex;
}
body{
    background-color: cornflowerblue;
}
/* @media not|only|all mediatype and (Expression){
        CSS-code;
    } */
@media only screen and (max-width:455px){
    body{
        background-color: bisque;
    }
}
@media screen and (orientation:landscape){
    body{
        background-color:pink;
    }
}
body{
    background-color: cornflowerblue;
}
img{
    float:right;
}
.cards{
    border:2px solid black;
    display:flow-root;
}
.card{
    border:2px solid pink;
}
.card:nth-child(2){
    background-color: bisque;
    clear: right;
}

body{
    background-color: pink;
}
.box:first-child{
    background-color: bisque;
}
.box:first-letter{
    color: blue;
}
.boxes *{
    color:aquamarine;
    border: 2px solid black;
}
[data-color="primary"]{
    padding-top:40px;
}
.box:nth-last-child(3){
    background-color: blueviolet;
}
/* dynamic insertion of element through CSS */
.boxes::before{
    content:"Kanu is good";
}
.boxes::after{
    content:"Kanu is good";
}
input::placeholder{
    color: cornflowerblue;
    font-size:25px ;
}
.container{
    border:2px solid black;
    display:flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex: wrap;
    align-content: center;
    flex-flow:row row-reverse;
    gap: 9px;
    row-gap: 4px;
    column-gap: 4px;
    order:15;
}
.item{
    height:22px;
    width:22px;
    background-color: bisque;
    border:2px solid black;
    margin:4px;
    flex-grow:8;
    flex-shrink: 2;
}
body{
    background-color: pink;
}
.container{
    border:2px solid black;
    display: grid;
    width:80vw;
    height:50vh;
    /* grid-template-columns: [first]120px [sec]100px [t];
    grid-template-rows: 100px 100px 100px;*/
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    /* flex : left; */
}
.items{
    border:2px solid cornflowerblue;
    height:55px;
    width:55px;
}
/* .item{
    grid-row: 1/2;
    grid-column: sec/t; 
}*/
/* .container{
    border: 2px solid black;
    display:grid;
    grid-template-areas:"nav nav nav"
                        "side article article"
                        "footer footer footer";
}
.items{
    border:2px solid cornflowerblue;
    height:30px;
    /* width:30px; */
/* }
.item1{
    grid-area:nav;
}
.item2{
    grid-area:side;
}
.item3{
    grid-area:article;
}
.item4{
    grid-area:footer;
}*/
.item5{
    align-items: start;
}  
/* place-content=align-content+justify-content */

.container{
    border: 2px solid black;
    height:80vh;
}
.box{
    height:50px;
    width:50px;
    background-color: bisque;
    border: 2px solid black;
    /* transform: rotate(0.5turn); */
    /* transform:rotateZ(40deg); */
    /* transform: scaleZ(1.6); */
    /* transform: skew(5deg); */
    /* transform: translateY(-100%) skewX(40deg) translateX(45%); */
    transform-origin: 0% 0%;
    display: flex;
    justify-content: centre;
    align-items: center;
    align-content: center;
}container{
    background-color:cornflowerblue;
    width : 50vw;
    height : 40vh;
}
.box{
    background-color: bisque;
    width : 8vw;
    height : 3vh;
    /* transition-property: background-color,transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay:1s; */
    transition: all 3s ease-in-out 1s;
}
.translate{
    transform: translateX(10vw) translateY(10vh);
    background-color: red;
}
.container{
    background-color: pink;
    height:80vh;
    width:30vw;
}
.box{
    width:100vw;
    height:45px;
    background-color: bisque;
    animation: kanuanimation ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-fill-mode: backwards;

}
@keyframes kanuanimation {
    from{
        background-color: cornflowerblue;
    }
    to{
        transform: translate(1000px);
    }
}

.container{
    background-color: pink;
    height:80vh;
    width:80vw;
    position: relative;
    background-color: cornflowerblue;
}
.box{
    height:121px;
    width:121px;
    background-color: bisque;
    position:absolute;
    bottom:0;
    border-radius: 70px;
    left:0;
    animation:animateX 3s linear infinite,animateY 1s ease-out infinite alternate;
}
@keyframes animateX {
    from{
        left:0;
    }
    to{
        left:100%;
    }
}
@keyframes animateY {
    from{
        bottom:0;
    }
    to{
        bottom:100%;
    }
}
.container{
    height:80vh;
    width:80vw;
    background-color: cornflowerblue;
    border:2px solid black;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/19448324/pexels-photo-19448324.jpeg?cs=srgb&dl=pexels-yassin-chykry-19448324.jpg&fm=jpg")
}
img{
    height:20vh;
    width:20vw;
    object-fit: cover;
    object-position: top mid;
}
.container{
    height:80vh;
    width:80vw;
    background-color: cornflowerblue;
    border:2px solid black;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/19448324/pexels-photo-19448324.jpeg?cs=srgb&dl=pexels-yassin-chykry-19448324.jpg&fm=jpg")
}
.img1{
    filter:blur(10px);
    /* filter:invert(1) */
    /* filter: opacity(0.5%); */
};
.img2{
    /* filter:brightness(122%) */
    filter: sepia(100%);
}
img{
    /* filter: contrast(20%); */
    filter: grayscale(100%);
}







